body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbfaf6;
}

h1 {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin: 40px 0 20px 0; /* Más espacio superior e inferior */
}

.table-container {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto 40px auto; /* Añadir margen superior e inferior */
    overflow-y: auto; /* Para permitir el desplazamiento */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ff9900;
}

thead th {
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #fe7b00;
}

tbody tr {
    border-bottom: 1px solid #000000;
}

tbody td {
    padding: 12px;
    text-align: left;
    border: 1px solid #b9b5b5;
}

tbody tr:nth-child(even) {
    background-color: #dfd7d7;
}

.total-row {
    text-align: center;
    align-content: center;
    font-weight: bold;
    background-color: #f4f4f4;
}

.total-row td {
    padding: 12px;
    text-align: right;
}

.total-row td:last-child {
    text-align: center;
}

#ttal{
    background-color: rgb(4, 255, 0);
    font-weight: bold;
    font-size: 18px;
}