/* Estilos para el menú de navegación */
header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; /* Para distribuir los elementos de forma equitativa */
}

header nav ul li {
    font-size: 20px; /* Tamaño de letra más grande */
}

header nav ul li a {
    text-decoration: none;
    color: #2d5985; /* Color azul pastel */
    padding: 10px;
}

header nav ul li a:hover {
    color: #5a7a9c; /* Color azul pastel más oscuro al pasar el mouse */
}

/* Estilos para el menú de navegación */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: chocolate;
    z-index: 100;
}

