h1 {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin: 40px 0 20px 0; /* Más espacio superior e inferior */
}

.table-container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 60px auto 40px auto; /* Añadir margen superior e inferior */
    overflow-y: auto; /* Para permitir el desplazamiento */
}

table {
    width: 100%;
}

thead {
    background-color: #87CEEB;
}

thead th {
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 12px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.total-row {
    font-weight: bold;
    background-color: #f4f4f4;
}

.total-row td {
    padding: 12px;
    text-align: right;
}

.total-row td:last-child {
    text-align: left;
}
