body {
    font-family: Arial, sans-serif;
    background-color: #f6f3ee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-right: 20px;
    float: left;
    width: 30%;
}

/* Estilos para la tabla */
.table-container {
    width: 60%; /* Ajusta el ancho según tus necesidades */
    max-height: 590px; /* Establece la altura máxima deseada */
    overflow-y: auto; /* Habilita el scroll vertical */
    border: 1px solid #ffffff;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


h1 {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;

}

label {
    display: block;
    margin: 10px 0 5px;
}

#id_nombre{
    width: 82%;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1aff00; /* Color azul cielo */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f0a800; /* Un tono más oscuro para el hover */
}

.value {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #22ff00;
    font-weight: bold;
    text-decoration: solid;
    
}

.value:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #00e5ff;
}

thead th {
    color: rgb(0, 0, 0);
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    border-bottom: 1px solid #c9c9c9;
}

tbody td {
    padding: 12px;
    text-align: left;
}
/*
tbody tr:nth-child(even) {
    background-color: #bbffd2;
}
*/

/* Estilos para las filas según el nivel de stock */
.high-stock {
    background-color: #c1ffcf; /* Verde claro */
}

.medium-stock {
    background-color: #f9ebbe; /* Amarillo claro */
}

.low-stock {
    background-color: #fad5d8; /* Rojo claro */
}