<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<h1>Gestion de inventario UTSJR</h1>
    
<div class="button-container">
    <button onclick="window.location.href='#registrar_compra'">Registrar Compra</button>
    <button onclick="window.location.href='#registrar_venta'">Registrar Venta</button>
    <button onclick="window.location.href='#registrar_cliente'">Registrar Cliente</button>
    <button onclick="window.location.href='#registrar_inventario'">Registrar alta en inventario</button>
    
    <div class="dropdown">
        <button class="dropbtn">CONSULTAS</button>
        <div class="dropdown-content">
            <a href="#historico_ventas">Histórico de ventas</a>
            <a href="#historico_compras">Histórico de compras</a>
        </div>
    </div>
</div>


<button class="logout-button" onclick="window.location.href='#logout'">Logout</button>

    
    <!-- Placeholder para las siguientes secciones -->
    <div id="registrar_compra"></div>
    <div id="registrar_venta"></div>
    <div id="registrar_cliente"></div>
    <div id="registrar_inventario"></div>
    <div id="historico_ventas"></div>
    <div id="historico_compras"></div>
    <div id="logout"></div>
</body>
</html>
