{% extends 'base.html' %}

{% block title %}<title>Cierre de Caja</title>{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/cierre_caja.css' %}">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<h2>Cierre de Caja</h2>
<div class="container"> 
    <form method="POST" id="cierreForm">
        {% csrf_token %}
        <div class="encabezado">
            <div class="usuario-fecha">
                {{ form.id_caja.label_tag }} {{ form.id_caja }}
                {{ form.fecha_asignacion.label_tag }} {{ form.fecha_asignacion }}
            </div>
        </div>
        <div class="billetes-monedas">
            {{ form.mil.label_tag }} {{ form.mil }}
            {{ form.quinientos.label_tag }} {{ form.quinientos }}
            {{ form.doscientos.label_tag }} {{ form.doscientos }}
            {{ form.cien.label_tag }} {{ form.cien }}
            {{ form.cincuenta.label_tag }} {{ form.cincuenta }}
            {{ form.veinte.label_tag }} {{ form.veinte }}
            {{ form.monedas.label_tag }} {{ form.monedas }}
        </div>
        <div class="form-bottom">
            <input type="submit" value="Cerrar caja">
        </div>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% if field.errors %}
                <strong>{{ field.label|title }}</strong>: {{ field.errors.as_text|striptags }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>


<script>
    document.getElementById('id_total_suma')?.style.setProperty('visibility', 'hidden');
    document.getElementById('id_total_diferencia')?.style.setProperty('visibility', 'hidden');
    document.addEventListener('DOMContentLoaded', function() {
        // Lista de IDs de campos numéricos
        var numericFieldIds = [
            'id_mil',
            'id_quinientos',
            'id_doscientos',
            'id_cien',
            'id_cincuenta',
            'id_veinte',
            'id_monedas'
        ];
        
        // Establece el valor de cada campo numérico a 0
        numericFieldIds.forEach(function(id) {
            var field = document.getElementById(id);
            if (field) {
                field.value = '0';
            }
        });
        
        // Oculta el campo monto_asignado
        var montoAsignadoField = document.getElementById('id_monto_asignado');
        if (montoAsignadoField) {
            montoAsignadoField.style.visibility = "hidden";
            montoAsignadoField.parentElement.style.display = "none";
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtén el campo por su ID
        var fechaAsignacionInput = document.getElementById('id_fecha_asignacion');
        
        // Si el campo existe en la página
        if (fechaAsignacionInput) {
            // Obtiene la fecha y hora actual
            var now = new Date();

            // Ajusta el formato de la fecha y hora a 'YYYY-MM-DDTHH:MM'
            var year = now.getFullYear();
            var month = ('0' + (now.getMonth() + 1)).slice(-2);
            var day = ('0' + now.getDate()).slice(-2);
            var hours = ('0' + now.getHours()).slice(-2);
            var minutes = ('0' + now.getMinutes()).slice(-2);

            // Formato para el input de tipo 'datetime-local'
            var formattedDateTime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;

            // Asigna el valor al campo
            fechaAsignacionInput.value = formattedDateTime;
        }
    });


    $(document).ready(function () {
            $('#id_id_caja').select2({
                placeholder: "Caja No.",
                allowClear: true
            });
    });
</script>

{% endblock %}
