<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Costo Individual</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for detalle in detalles_compra %}
        <tr>
            <td>{{ detalle.1 }}</td>
            <td>{{ detalle.2 }}</td>
            <td>{{ detalle.3 }}</td>
            <td>{{ detalle.4 }}</td>
        </tr>
        {% endfor %}
        <tr id="ttal">
            <td colspan="3">Total</td>
            <td>{{total}}</td>
        </tr>
    </tbody>
</table>
