<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Ventas</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'styles/styles_historico_compras.css' %}">

</head>
<body>
    <h1>Historial de Ventas</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Fecha</th>
                <th>Productos</th>
                <th>Cantidad</th>
                <th>Costo Individual</th>
                <th>Costo Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se mostrarán las filas de datos dinámicos -->
        </tbody>
    </table>
</body>
</html>
