{% extends 'base.html' %}

{% block title %}Historial de Ventas{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/styles_historico_compras.css' %}">
{% endblock %}

{% block content %}
<h1>Historial de Ventas</h1>

<table>
    <thead>
        <tr>
            <th>ID Venta</th>
            <th>Fecha</th>
            <th>Productos</th>
            <th>Cantidad</th>
            <th>Costo Individual</th>
            <th>Costo Total</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se mostrarán las filas de datos dinámicos -->
    </tbody>
</table>
{% endblock %}
