{% extends 'base.html' %}

{% block title %}<title>Historial de cajas</title>{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/historial_caja.css' %}">
{% endblock %}

{% block content %}

{% load custom_filters %}
<h1>Histórico de Aperturas y Cierres de Caja</h1>
<script>
    // Obtener la fecha actual en formato ISO (YYYY-MM-DD)
    const today = new Date().toISOString().split('T')[0];

    // Asignar la fecha actual como el valor máximo del input de fecha
    document.getElementById('fecha_inicio').setAttribute('max', today);
    document.getElementById('fecha_fin').setAttribute('max', today);
    // Establecer la fecha de hoy en los campos de entrada
    document.getElementById('fecha_inicio').value = today;
    document.getElementById('fecha_fin').value = today;
</script>

<form method="get">
    <label for="fecha_inicio">Fecha Inicio:</label>
    <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio|date:'Y-m-d' }}">
    
    <label for="fecha_fin">Fecha Fin:</label>
    <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin|date:'Y-m-d' }}">
    
    <button type="submit">Filtrar</button>
</form>
<div class="table-container">
    
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>ID Caja</th>
                <th>Usuario</th>
                <th>Fecha de Asignación</th>
                <th>Monto Asignado</th>
                <th>Tipo Cierre</th>
                <th>Fecha de Cierre</th>
                <th>Monto de Cierre</th>
                <th>Total Vendido</th>
                <th>Total Diferencia</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.tipo }}</td>
                <td>{{ item.id_caja }}</td>
                <td>{{ item.usuario }}</td>
                <td>{{ item.fecha_asignacion }}</td>
                <td>{{ item.monto_asignado|currency_format }}</td>
                <td>{{ item.tipo_cierre }}</td>
                <td>{{ item.fecha_cierre }}</td>
                <td>{{ item.monto_cierre|currency_format }}</td>
                <td>{{ item.total_venta|currency_format }}</td>
                <td>{{ item.total_diferencia|currency_format }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<script>
    function actualizarTabla() {
        fetch('/historico_caja/', {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.json())
            .then(data => {
                const tbody = document.querySelector('table tbody');
                tbody.innerHTML = '';
                data.forEach(item => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${item.tipo}</td>
                    <td>${item.id_caja}</td>
                    <td>${item.usuario}</td>
                    <td>${item.fecha_asignacion}</td>
                    <td>${item.monto_asignado}</td>
                    <td>${item.tipo_cierre}</td>
                    <td>${item.fecha_cierre}</td>
                    <td>${item.monto_cierre}</td>
                    <td>${item.total_vendido}</td>
                    <td>${item.total_diferencia}</td>
                `;
                    tbody.appendChild(row);
                });
            });
    }

    // Llama a la función actualizarTabla() cuando sea necesario
</script>

{% endblock %}
