
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/styles/stylesMenu.css">
</head>
<body>
    <div class="container"> 
        <h2>Menu principal</h2>
        <!--<form method="POST">-->
            {% csrf_token %}        
            <a href="{% url 'compra' %}" class="button">Registrar Compra</a>
            <a href="{% url 'ventas' %}" class="button">Registrar Venta</a>
            <a href="{% url 'cliente' %}" class="button">Registrar Cliente</a>
            <a href="{% url 'producto' %}" class="button">Registrar Alta en Inventario</a>
            <a href="{% url 'proveedor' %}" class="button">Registrar Proveedor</a>
            <a href="{% url 'historicoCompras' %}" class="button">Historico Compras</a>
            <a href="{% url 'historicoVentas' %}" class="button">Historico Ventas</a>
        
            

        </form>
    </div>
</body>
</html>

