<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Proveedor</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'styles/styles_proveedor.css' %}">
</head>

<body>
    <div class="container">
        <h1>Registrar Proveedor</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Guardar"></input>
        </form>
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
            <strong>{{ field|title }}</strong>: {{ errors|striptags }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>

</html>