{% extends 'base.html' %}

{% block title %}Registro de Proveedor{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/styles_proveedor.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Registrar Proveedor</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar"></input>
    </form>
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
        <strong>{{ field|title }}</strong>: {{ errors|striptags }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
