<!--REGISTRAR COMPRA-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Compra</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'styles/styles_ventas.css' %}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h2>Registro de Compras</h2>
            <form action="#" method="POST">
                {% csrf_token %}
                <label for="proveedores">Proveedor</label>
                <select id="proveedor" name="proveedor" required>
                    <option value="">Seleccionar</option>
                    <option value="1">Vilros</option>
                    <option value="2">Alibaba</option>
                    <option value="1">Mosquitto</option>

                </select>

                <label for="componente">Producto:</label>
                <select id="componente" name="componente" required>
                    <option value="">Seleccionar</option>
                    <option value="1">Arduino UNO</option>
                    <option value="2">Raspberry pi 4GB</option>
                    <option value="3">Orange pi 5 2GB</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>

                <label for="cantidad">Cantidad:</label>
                <input type="text" id="cantidad" name="cantidad" required>

                <label for="total">Total:</label>
                <input type="text" id="total" name="total">

                <input type="submit" value="Guardar">
            </form>
        </div>
        <div class="right">
            <h2>Resumen</h2>
            <div class="resumen">
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Precio por unidad</th>
                        <th>Cantidad</th>
                        <th>Precio Total</th>
                    </tr>
                    <!-- Aquí se pueden agregar filas de la tabla con JavaScript -->
                </table>
                <div class="total">
                    Total: $<span id="total-compra">0</span>
                </div>
                <input type="button" value="Registrar">
            </div>
        </div>
    </div>
</body>
</html>