{% extends 'base.html' %}

{% block title %}<title>Registro de Producto </title>{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock %}

{% block content %}
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<h1>Registro de Producto</h1>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    
        <input type="submit" value="Registrar">
    </form>
    <script>
        $(document).ready(function() {
            $('#id_id_categoria').select2({
                placeholder: "Selecciona una categoria",
                allowClear: true
            });
        });
    </script>
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
        <strong>{{ field|title }}</strong>: {{ errors|striptags }}
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'altaCategoria' %}" class="value">Añadir Categoría</a>
</div>
{% endblock %}