<!--REGISTRAR COMPRA-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Compra</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'styles/styles_ventas.css' %}">
</head>
<body>
    <div class="container">
        

        <div class="left">
            <h2>Registro de Compras</h2> 
            <form method="POST">
                {% csrf_token %}
                <label for="proveedor">Proveedor</label><br>
                <select id="id_proveedor" name="id_proveedor" required>
                    <option value="">Seleccionar</option>
                    {% for proveedor in proveedores %}
                        <option value="{{proveedor.id_proveedor}}"> {{proveedor.razon_social}} </option>
                    {% endfor %}
                </select>
                <a href="{% url 'proveedor' %}" class="value">Registrar Proveedor</a>
                <label for="componente">Producto:</label>
                <select id="id_producto" name="id_producto" required>
                    <option value="">Seleccionar</option>
                    {% for producto in productos %}
                        <option value="{{producto.id_producto}}"> {{producto.nombre}} </option>
                    {% endfor %}
                </select>
                <a href="{% url 'producto' %}" class="value">Registrar Producto</a>
                <label for="cantidad">Cantidad:</label>
                <input type="text" id="cantidad" name="cantidad" required>

                <label for="total">Precio por unidad</label>
                <input type="text" id="total" name="total" placeholder="10.00">

                <input type="submit" value="Guardar">
            </form>
        </div>
        <div class="right">
            <h2>Resumen</h2>
            <div class="resumen">
                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Precio por unidad</th>
                        <th>Cantidad</th>
                        <th>Precio Total</th>
                    </tr>
                    
                </table>
                <div class="total">
                    Total: $<span id="total-compra">0</span>
                </div>
                <input type="button" value="Registrar">
            </div>
        </div>
    </form>

    </div>
</body>
</html>