{% extends 'base.html' %}

{% block title %}<title>Registro de Producto </title>{% endblock %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock %}

{% block content %}
<!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<div class="form-container">
    <h1>Registro de Producto</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Registrar">
    </form>
    <script>
        $(document).ready(function () {
            $('#id_id_categoria').select2({
                placeholder: "Selecciona una categoria",
                allowClear: true
            });
            $('#selectBuscar').select2({
                placeholder: "Busque un producto",
                allowClear: true
            });
        });
    </script>
    {% if form.errors %}
    <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
        <strong>{{ field|title }}</strong>: {{ errors|striptags }}
        {% endfor %}
    </div>
    {% endif %}
    <a href="{% url 'altaCategoria' %}" class="value">Añadir Categoría</a>
</div>
<div class="table-container">
    <h1>Productos Existentes</h1>
    <form method="GET" action="{% url 'producto' %}" id="buscarProducto">
        <select name="q" id="selectBuscar">
            <option value="">Seleccione un producto</option>
            {% for producto in productos %}
            <option value="{{ producto.id_producto }}" {% if query == producto.id_producto|stringformat:"s" %}selected{% endif %}>{{ producto.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit" id="btnBuscarProducto">Buscar</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Precio de Venta</th>
                <th>Utilidad</th>
                <th>Reorden</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos_filtrados %}
            <tr  class="{% if producto.stock > producto.punto_reorden %}high-stock{% elif producto.stock == producto.punto_reorden %}medium-stock{% else %}low-stock{% endif %}">
                <td> {{producto.id_producto}} </td>
                <td> {{producto.nombre}} </td>
                <td> {{producto.stock}} </td>
                <td> {{producto.id_categoria.descripcion}} </td>
                <td> {{producto.costo_venta}} </td>
                <td> {{producto.porcentaje_utilidad}} </td>
                <td> {{producto.punto_reorden}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}