{% extends 'base.html' %}

{% block title %}Registro de Producto{% endblock %}

{% block extra_css %}
{%load static%}
<link rel="stylesheet" href="{% static 'styles/styles_compras.css' %}">
{% endblock %}
 
{% block content %}
<div class="container">
    <div class="top">
        <h2>Registro de Compras</h2>
        <button id="cambiarProveedorBtn" style="display: none;">Cambiar Proveedor</button>
        <form id="compraForm" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            
            <input type="submit" value="Guardar">
        </form>
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
            <strong>{{ field|title }}</strong>: {{ errors|striptags }}
            {% endfor %}
        </div>
        {% endif %}



    </div>
    <div class="bottom">
        <h2>Resumen</h2>
        <div class="resumen">
            <table id="resumenTabla">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Proveedor</th>
                    <th>Precio por unidad</th>
                    <th>Precio Total</th>
                </tr>

            </table>
            <div class="total">
                Total: $<span id="total-compra">0</span>
            </div>
            <input type="button" value="Registrar compra">
        </div>
    </div>
</div>

<div id="cambiarProveedorModal" class="modal">
    <div class="modal-content">
        <p>¿Seguro que quieres cambiar el proveedor?</p>
        <button id="aceptarCambioProveedor">Aceptar</button>
        <button id="cancelarCambioProveedor">Cancelar</button>
    </div>
</div>

<script src="{% static 'JavaScript/Registro_compra_form.js' %}"></script>
{% endblock %}

</html>